body {
  background-image: url("../images/OBJ2.png");
}

#background-text {
  position: fixed;
  color: rgb(240, 225, 60);
  width: 180px;
  height: 280px;
  left: 700px;
  top: 70px;
  font-size: 17px;
}

#container {
  position: fixed;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  width: 1300px;
  height: 130px;
  bottom: 10px;
  left: 10px;
}

.object {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 55px;
  height: 55px;
  margin: 2vh 2vw;
  transform: rotate(45deg);
  border: 2px solid rgb(170, 255, 0);
}

.object:hover {
  border: 2px solid rgb(168, 5, 243);
}

#result {
  position: fixed;
  color: rgb(240, 225, 60);
  width: 300px;
  height: 400px;
  left: 50px;
  top: 40px;
  font-size: 37px;
}

#play-again {
  position: fixed;
  color: rgb(170, 255, 0);
  left: 60px;
  top: 600px;
  font-size: 37px;
}

#play-again:hover {
  color: rgb(240, 225, 60);
}
