body {
  background-color: black;
  display: flex;
  justify-content: center;
  align-content: center;
  background-repeat: no-repeat;
}

.main2 {
  background-image: url("../images/GK&D.png");
  background-repeat: no-repeat;
  background-size: 100%;
  position: absolute;
  /* object-fit: cover; */
  width: 1400px;
  height: 755px;
}

.explanation {
  color: rgb(240, 225, 60);
  font-size: 24px;
  width: 600px;
  position: fixed;
  left: 25px;
}

.directions {
  color: rgb(240, 225, 60);
  font-size: 26px;
  width: 600px;
  position: fixed;
  left: 500px;
  top: 400px;
}

#continue {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 50px;
  width: 240px;
  height: 70px;
  left: 800px;
  bottom: 50px;
}

a {
  color: rgb(170, 255, 0);
}

a:hover {
  color: rgb(240, 225, 60);
}
